<a href="https://colab.research.google.com/github/tamdoancong/5215-MachineLearning-Doan/blob/master/TamDoan_ErrorAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget -O data.zip https://drive.google.com/u/0/uc?id=1DEMhy3x7ws8Eyv0VGzJNFeYkuXhFDXhC&export=download
!unzip -o data.zip

--2020-09-25 07:30:42--  https://drive.google.com/u/0/uc?id=1DEMhy3x7ws8Eyv0VGzJNFeYkuXhFDXhC
Resolving drive.google.com (drive.google.com)... 74.125.142.113, 74.125.142.102, 74.125.142.100, ...
Connecting to drive.google.com (drive.google.com)|74.125.142.113|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-00-4g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/ghe32bvv8jo8016vlsmncudcht9e54kg/1601019000000/04063593624032689852/*/1DEMhy3x7ws8Eyv0VGzJNFeYkuXhFDXhC [following]
Warning: wildcards not supported in HTTP.
--2020-09-25 07:30:43--  https://doc-00-4g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/ghe32bvv8jo8016vlsmncudcht9e54kg/1601019000000/04063593624032689852/*/1DEMhy3x7ws8Eyv0VGzJNFeYkuXhFDXhC
Resolving doc-00-4g-docs.googleusercontent.com (doc-00-4g-docs.googleusercontent.com)... 74.125.28.132, 2607:f8b0:400e:c04::84
Connecting to doc-00-4g-docs.googleusercontent.com (doc-00-4g-docs.googleusercontent.com)|74.125.28.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 687986 (672K) [application/x-zip-compressed]
Saving to: ‘data.zip’

data.zip            100%[===================>] 671.86K  --.-KB/s    in 0.006s

2020-09-25 07:30:43 (116 MB/s) - ‘data.zip’ saved [687986/687986]

Archive:  data.zip
  inflating: data/random_split/dev.csv
  inflating: data/random_split/test.csv
  inflating: data/random_split/train.csv
  inflating: data/subject_split/dev.csv
  inflating: data/subject_split/test.csv
  inflating: data/subject_split/train.csv

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

7/ Error Analysis

In [ ]:
training=pd.read_csv("./data/subject_split/train.csv")
training

      subject#  age  sex  test_time  ...     HNR     RPDE      DFA      PPE
0           29   78    0     43.390  ...  24.885  0.38029  0.62114  0.18399
1           23   59    1     23.449  ...  21.013  0.45259  0.72558  0.14219
2            5   75    0     84.392  ...  22.085  0.56362  0.59660  0.18287
3           19   55    0    103.850  ...  22.663  0.63037  0.69406  0.26387
4           38   67    0    140.880  ...  21.436  0.55022  0.57203  0.26542
...        ...  ...  ...        ...  ...     ...      ...      ...      ...
2800         5   75    0     42.406  ...  20.865  0.52891  0.62243  0.20829
2801        38   67    0     42.896  ...  20.162  0.57128  0.62273  0.26681
2802        21   73    0    123.830  ...  22.404  0.44357  0.62159  0.16353
2803         7   72    0    119.300  ...  21.462  0.57086  0.56998  0.23169
2804        25   76    0     13.401  ...  19.554  0.60654  0.63592  0.19203

[2805 rows x 22 columns]

In [ ]:
training_target=training['total_UPDRS']

In [ ]:
tuning=pd.read_csv("./data/subject_split/dev.csv")
tuning

      subject#  age  sex  test_time  ...     HNR     RPDE      DFA       PPE
0            6   63    0   124.3400  ...  18.697  0.48090  0.70231  0.243810
1            6   63    0   159.3400  ...  21.714  0.52553  0.64583  0.227670
2           15   65    0   117.5200  ...  29.605  0.41836  0.53587  0.120140
3           18   65    0     4.3625  ...  27.909  0.32235  0.62499  0.117190
4           15   65    0   166.6600  ...  31.096  0.42936  0.55502  0.077124
...        ...  ...  ...        ...  ...     ...      ...      ...       ...
1092         6   63    0   117.3300  ...  23.526  0.39939  0.64157  0.158100
1093        11   55    0    49.4560  ...  23.929  0.47948  0.67020  0.170330
1094        15   65    0   194.5500  ...  28.281  0.41086  0.54318  0.092377
1095        33   66    1    79.4440  ...  15.060  0.49334  0.56824  0.320830
1096        20   67    0    67.8880  ...  22.226  0.42277  0.80078  0.245550

[1097 rows x 22 columns]

In [ ]:
tuning.columns

Index(['subject#', 'age', 'sex', 'test_time', 'motor_UPDRS', 'total_UPDRS',
       'Jitter(%)', 'Jitter(Abs)', 'Jitter:RAP', 'Jitter:PPQ5', 'Jitter:DDP',
       'Shimmer', 'Shimmer(dB)', 'Shimmer:APQ3', 'Shimmer:APQ5',
       'Shimmer:APQ11', 'Shimmer:DDA', 'NHR', 'HNR', 'RPDE', 'DFA', 'PPE'],
      dtype='object')

In [ ]:
tuning_target=tuning['total_UPDRS']

In [ ]:



import sklearn.linear_model as slm
import sklearn.metrics as sm

def trainLR(x, y):
  ln = slm.LinearRegression()
  ln.fit(x,y)
  return ln

def evaLR(ln, x,y):
  y_pred = ln.predict(x)
  mse = sm.mean_squared_error(y_pred, y)
  rmse = np.sqrt(mse)
  r2 = ln.score(x, y)
  return {
      "y predict": y_pred,
      "score": r2,
      "rmse": rmse,
      "intercept": ln.intercept_,
      "coef": ln.coef_
  }

In [ ]:
trainmodel=trainLR(training,training_target)
evaluate=evaLR(trainmodel,tuning,tuning_target)
evaluate
y_p=evaluate['y predict']

In [ ]:
error=tuning_target-y_p
error

0       7.105427e-15
1       0.000000e+00
2      -7.105427e-15
3      -8.881784e-16
4      -1.421085e-14
            ...
1092    0.000000e+00
1093    7.105427e-15
1094   -1.421085e-14
1095    0.000000e+00
1096    0.000000e+00
Name: total_UPDRS, Length: 1097, dtype: float64

In [ ]:
np.absolute(error).max()

1.7763568394002505e-14

In [ ]:
evaluate['intercept']

-4.973799150320701e-14

In [ ]:
coef=evaluate['coef']
coef

array([ 1.48654781e-16,  5.55111512e-16, -9.99151165e-16,  6.84268361e-17,
        3.06708467e-17,  1.00000000e+00, -1.46381560e-14,  5.59783052e-12,
        1.16250730e-12,  6.13109010e-14, -4.20605978e-13,  1.48224937e-14,
       -9.90871486e-16, -3.87690852e-12,  1.22796970e-14,  3.58655807e-15,
        1.28570532e-12,  1.57095474e-15,  5.08273978e-16, -3.83644939e-16,
       -2.04632318e-15, -1.07986536e-15])

In [ ]:
coef.min()

-3.876908523126324e-12

In [ ]:
coef.shape

(22,)

In [ ]:

coeftable =  pd.DataFrame(coef, columns=['coef'])
coeftable

            coef
0   1.486548e-16
1   5.551115e-16
2  -9.991512e-16
3   6.842684e-17
4   3.067085e-17
5   1.000000e+00
6  -1.463816e-14
7   5.597831e-12
8   1.162507e-12
9   6.131090e-14
10 -4.206060e-13
11  1.482249e-14
12 -9.908715e-16
13 -3.876909e-12
14  1.227970e-14
15  3.586558e-15
16  1.285705e-12
17  1.570955e-15
18  5.082740e-16
19 -3.836449e-16
20 -2.046323e-15
21 -1.079865e-15

In [ ]:
feature=['subject#', 'age', 'sex', 'test_time', 'motor_UPDRS', 'total_UPDRS',
       'Jitter(%)', 'Jitter(Abs)', 'Jitter:RAP', 'Jitter:PPQ5', 'Jitter:DDP',
       'Shimmer', 'Shimmer(dB)', 'Shimmer:APQ3', 'Shimmer:APQ5',
       'Shimmer:APQ11', 'Shimmer:DDA', 'NHR', 'HNR', 'RPDE', 'DFA', 'PPE']

In [ ]:
coeftable['feature']=feature

In [ ]:
coeftable

            coef        feature
0   1.486548e-16       subject#
1   5.551115e-16            age
2  -9.991512e-16            sex
3   6.842684e-17      test_time
4   3.067085e-17    motor_UPDRS
5   1.000000e+00    total_UPDRS
6  -1.463816e-14      Jitter(%)
7   5.597831e-12    Jitter(Abs)
8   1.162507e-12     Jitter:RAP
9   6.131090e-14    Jitter:PPQ5
10 -4.206060e-13     Jitter:DDP
11  1.482249e-14        Shimmer
12 -9.908715e-16    Shimmer(dB)
13 -3.876909e-12   Shimmer:APQ3
14  1.227970e-14   Shimmer:APQ5
15  3.586558e-15  Shimmer:APQ11
16  1.285705e-12    Shimmer:DDA
17  1.570955e-15            NHR
18  5.082740e-16            HNR
19 -3.836449e-16           RPDE
20 -2.046323e-15            DFA
21 -1.079865e-15            PPE

In [ ]:
#select row have max coef value
coeftable[coeftable.coef==coeftable.coef.max()]

   coef      feature
5   1.0  total_UPDRS

In [ ]:
#select row have min coef value
coeftable[coeftable.coef==coeftable.coef.min()]

            coef       feature
13 -3.876909e-12  Shimmer:APQ3